body{
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}
.nav{
    background: #0064EB;
    display: flex;
    align-items: center;
    height: 60px;
}
.group{
    position: relative;
}
input{
    width: 400px;
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
    border: 0;
}
::placeholder{
    padding-left: 40px;
}
.search{
    position: absolute;
    margin-left: 30px;
    margin-top: 5px;
}
.frame{
    margin-left: 30px;
}
.name{
    font-weight: 600;
    font-size: 28px;
}
.pics{
    margin-top: 30px;
    margin-left: 56px;
}
.picture{
    margin-bottom: 700px;
    width: 100%;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 85px;
}
.followers{
    display: flex;
    flex-direction: row;
    gap: 15px;
    
}
.followers-number{
    display: flex;
    gap: 10px;
}
.following-number{
    display: flex;
    gap: 10px;
}
.follower-image{
    width: 24px;
    height: 24px;
    margin: 0px;
}
.following-image{
    width: 24px;
    height: 24px;
    margin: 0;
}
.follower-text{
    margin: 0;
}
.following-text{
    margin: 0;
}
.content{
    color: #0064EB;
    font-weight: 500;
    font-size: 29px;
    margin: 0;
}
.text{
    color: #0064EB;
    font-weight: 400;
    font-size: 18px;
}
.words{
    background-color: #FFFF;
    padding: 24px 32px 24px 32px;
    border-radius: 6px;
}
.paragraph{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 992px) {
    input{
        width: 200px;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .picture{
        margin-left: 80px;
    }
    .followers{
        display: flex;
        flex-direction: column;
    }
    .respository-image{
        width: 200px;
        height: 200px;
    }
}