body{
    margin: 0;
    padding: 0;
}
.nav{
    background: #0064EB;
    display: flex;
    align-items: center;
    height: 60px;
}
.group{
    position: relative;
}
input{
    width: 400px;
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
    border: 0;
}
::placeholder{
    padding-left: 40px;
}
.search{
    position: absolute;
    margin-left: 30px;
    margin-top: 5px;
}
.frame{
    margin-left: 30px;
}
.name{
    font-weight: 600;
    font-size: 28px;
}
.pics{
    margin-top: 30px;
    margin-right: 90px;
}
.picture{
    margin-right: 200px;
    margin-bottom: 700px;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content{
    color: #0064EB;
    font-weight: 500;
    font-size: 29px;
}
.text{
    color: #0064EB;
    font-weight: 400;
    font-size: 18px;
}
.words{
    border: 1px solid;
    border-style: outset;
}

@media screen and(max-width: 992px) {
    body{
        margin: 0;
    }
    
}